.container .create {
    width: 100%;
    min-height: calc(100vh - 120px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    /* border: 2px solid var(--text); */
  }

.container .create form{
width: 35%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 2em;
/* border: 2px solid var(--text); */
}
.container .create form .rows{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
gap: 1em;
/* border: 2px solid var(--text); */
}
.container .create form .rows label{
    text-align: left;
    color: var(--text);
    font-size: 2em;
}
.container .create form .rows input{
    width: 100%;
    height: 45px;
    font-size: 1.4em;
    padding: 0em 1em;
    color: var(--text);
    background:transparent;
    border: 0.5px solid var(--primary2);
    outline: none;
    border-radius: 2px;
}
.container .create form .rows span{
  color: var(--primary2);
  font-family: "Onest", sans-serif;
  font-size: 1.4em;
  letter-spacing: -0.5px;
  text-align: left;
}
.container .create form .rows textarea{
    width: 100%;
    height: 200px;
    font-size: 1.4em;
    padding: 1.5em 1em;
    color: var(--text);
    background:transparent;
    border: 0.5px solid var(--primary2);
    outline: none;
    border-radius: 2px;
    resize: none;
}

.container .create form button {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
    padding: 0em 2em;
    border-radius: 5px;
    color: var(--text);
    background: var(--primary2);
    font-family: "Myfonts2", sans-serif;
    border: none;
    outline: none;
  }
  .container .create form button:hover {
    animation: shake 0.5s; /* Duration of shake animation */
    animation-iteration-count: 5;
  }


  .container .create form button {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
    padding: 0em 2em;
    border-radius: 5px;
    color: var(--text);
    background: var(--primary2);
    font-family: "Myfonts2", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .container .create .modal_cont{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .container .create .modal_cont .modal_content{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: var(--header);
    padding: 2em 2em;
    border-radius: 5px;
  }
  .container .create .modal_cont.err .modal_content{
    background: crimson;
      }
  .container .create .modal_cont .modal_content .icon{
    color: var(--text);
    font-size: 8em;
  }
  .container .create .modal_cont .modal_content h1{
    color: var(--text);
    font-size: 3em;
  }
  .container .create .modal_cont .modal_content p{
    color: var(--text);
    font-size: 2em;
    text-align: center;
  }
  .container .create .modal_cont .modal_content button{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
    padding: 0em 2em;
    border-radius: 5px;
    color: var(--bg);
    background: var(--text);
    font-family: "Myfonts2", sans-serif;
    border: none;
    outline: none;
    margin-top: 1em;
    cursor: pointer;
  }
  .container .create .modal_cont .modal_content button:hover {
    animation: shake 0.5s; /* Duration of shake animation */
    animation-iteration-count: 5;
  }


  /**** TAB RESPONSIVENESS•••••••••••••****/
@media (min-width: 768px) and (max-width: 1280px) {
  .container .create form{
    width: 40%;
    padding-bottom: 2em;
    }

}